.navbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar-content :nth-child(n){
    text-decoration: none;
}

.navbar-content h1 {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 3em;
}

.navbar-content .navbar-items > :last-child{
    font-weight: 600;
}
.navbar-content .navbar-items > :nth-child(n) {
    padding-inline: 15px;
    margin-inline: 5px;
}

.navbar-content .searchbar {
    outline: 2px solid RGB(220, 220, 220);
    border-radius: 5px;
    width: 948px;
    height: 50px;
    margin-block: 30px;
    position: relative
}

.navbar-content .searchbar input {
    width: 90%;
    height: 46px;
    left: 5px;
    position:absolute;
    border: 0;
    font-size: 1.5em;
}

.navbar-content .searchbar input:focus {
    outline: none
}

.navbar-content .searchbar button {
    position: absolute;
    z-index: 1;
    right:5px;
    top: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}