.recipe-form {
  width: 600px;
  box-sizing: border-box;
  padding: 40px 80px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.tag {
  width: auto;
  display: flex;
  align-items: center;
  height: 15PX;
  border: 1px solid black;
  margin-top: 20px;
  padding: 15px;
  background-color: transparent;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.tag:hover {
  background-color: rgb(211, 208, 208);
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}