*,body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: url('./assets/background.jpg');
    background-size: cover;
    background-color: rgba(132, 127, 141, 0.56);
    background-blend-mode: multiply;
}

